.landing {
  height: 100%;
  width: 100%;
  max-width: 1120px;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  padding: 150px 0;
  margin: 0 auto;

  .form {
    margin-top: 50px;
    width: 100%;
    max-width: 100%;
    .chakra-file-upload__root {
      max-width: 100%;
    }
  }

  .css-cwqj6a {
    position: relative;
    background-color: #ebebeb3b;
    padding: 24px;
    // height: 200px;

    img {
      // height: 300px;
      object-fit: cover;
    }

    .card-wrapper {
      position: absolute;
      transition: all 0.2s ease;
      left: 0;
      width: 100%;
      background-color: #20202083;
    }

    .hidden {
      opacity: 0;
      height: 0;
      top: -10%;
    }

    .show {
      height: 100%;
      top: 0;
      transition: all 0.2s ease;
      opacity: 1;
    }

    // &:hover {
    //   .card-wrapper {
    //   }
    // }
  }

  .doc-wrapper {
    padding-top: 36px;
    border-top: 1px solid #eee;
  }

  &-docs {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }

  .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 16px;
  }

  p,
  h4 {
    text-align: left;
  }

  ul {
    li {
      text-align: left;
    }
  }

  @media screen and (max-width: 768px) {
    .button-wrapper {
      flex-direction: column;
      margin-top: 24px;
    }
    .doc-wrapper {
      flex-direction: column;
    }

    .doc-details {
      width: 100% !important;
    }

    .doc-image {
      width: 100% !important;
    }

    .content-flex {
      flex-direction: column;
    }
  }
}
